header {
  display: flex;
  height: 200px;
  background: linear-gradient(90.23deg, #05ede3 0.02%, #645ffb 99.63%);
  padding: 0 50px;
}

header img {
  margin-top: 50px;
  width: 169px;
  height: 45px;
}
